#leaderboard td:first-child {
    width: 3rem;
}

#leaderboard td:last-child {
    width: 8rem;
    text-align: right;
}

#leaderboard.inactive table {
    opacity: 0.5;
}
#leaderboard {
    position: relative;
}

#leaderboard.inactive::after {
    content: "Leaderboard is Inactive";
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: #ddd;
    box-shadow: 4px 4px 15px;
    padding: 0 1rem;
}

.steambadge {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: 40px;
}

.steambadge-01 {
    background-image: url(http://media.steampowered.com/steamcommunity/public/images/items/258970/602abedfaafad7d9027d8e22c3fb307623bdae0c.png)
}

.steambadge-02 {
    background-image: url(http://media.steampowered.com/steamcommunity/public/images/items/258970/24ab19f4fcc8fc06fd5a83c9f404a78a485ab048.png)
}

.steambadge-03 {
    background-image: url(http://media.steampowered.com/steamcommunity/public/images/items/258970/dadadb202d86e6d14d30c23d3a628a0ec47496af.png)
}

.steambadge-04 {
    background-image: url(http://media.steampowered.com/steamcommunity/public/images/items/258970/0f6ce056e258246fc62e37c15eea24bfe729d434.png)
}

.steambadge-05 {
    background-image: url(http://media.steampowered.com/steamcommunity/public/images/items/258970/884019fbe46ecac5ac272bd0d93a98fa7fd4f23d.png)
}

.steambadge-11 {
    background-image: url(http://media.steampowered.com/steamcommunity/public/images/items/258970/dbb9a455de83d1baff9fd2fa4b7258ef2f09ec5b.png)
}

.steam-profile {
    display: flex;
    align-items: center;
}

.steam-profile h2 {
    display: inline;
}

.steam-profile a {
    text-decoration: none;
}

#badges > span {
    vertical-align: top;
}

#badges > ul {
    padding: 0;
    margin: 0;
    display: inline;
}

.avatar {
    border-radius: 1rem;
    border: 3px solid black;
}

.state-Online {
    border-color: #53a4c4;
}

.state-Away {
    border-color: #c4c353;
}

.state-Snooze {
    border-color: #d5aa28;
}

.state-Gaming {
    border-color: #8fb93b;
}

.state-Busy {
    border-color: #b93b3b;
}

.state-Offline {
    border-color: #616161;
}

/* Datatables overrides */

table.table thead .sorting:after {
  content: '\f0dc';
}

table.table thead .sorting_asc:after {
  content: '\f0de';
}

table.table thead .sorting_desc:after {
  content: '\f0dd';
}

table.table thead .sorting:after, table.table thead .sorting_asc:after, table.table thead .sorting_desc:after, table.table thead .sorting_asc_disabled:after, table.table thead .sorting_desc_disabled:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  margin-left: .5rem;
}