@model GauntletLeaderboard.Web.Models.Home.LeaderboardsViewModel

@{
    ViewBag.Title = "Leaderboards";
}

<h2>Leaderboards</h2>

@Html.Partial("_Groups", Model.Groups)
@Html.Partial("_SubGroups", Model.SubGroups)
@Html.Partial("_Leaderboards", Model.Leaderboards)