@model IEnumerable<GauntletLeaderboard.Core.Model.Leaderboard>

<ul class="nav nav-pills">
@foreach (var leaderboard in Model)
{
    <li>
        @Html.ActionLink(leaderboard.Name, "Leaderboard", new { group = leaderboard.Group.Id, subgroup = leaderboard.SubGroup.Id, leaderboardId = leaderboard.Id })
    </li>
}
</ul>