@model GauntletLeaderboard.Web.Models.IPagedViewModel
@{ var action = ViewContext.RouteData.Values["action"] as string; }

<nav>
    <ul class="pager">
    @if (Model.First != Model.TotalPages) {
        <li>@Html.ActionLink("First", action, new { page = Model.First })</li>
    }
    @if (Model.Previous.HasValue) {
        <li>@Html.ActionLink("Previous", action, new { page = Model.Previous })</li>
    }
    @if (Model.Next.HasValue) {
        <li>@Html.ActionLink("Next", action, new { page = Model.Next })</li>
    }
    @if (Model.First != Model.TotalPages) {
        <li>@Html.ActionLink("Last", action, new { page = Model.TotalPages })</li>
    }
    </ul>
</nav>