@model IEnumerable<GauntletLeaderboard.Core.Model.SubGroup>

<ul class="nav nav-pills">
@foreach (var group in Model)
{
    <li>
        @Html.ActionLink(group.Name, "Leaderboards", new { group = group.Group.Id, subgroup = group.Id })
    </li>
}
</ul>