<?xml version="1.0"?>
<configuration>
  <appSettings file="key.config">
    <add key="steamApiKey" value=""/>
    <add key="leaderboardUrl" value="https://steamcommunity.com/stats/258970/leaderboards/{id}?xml=1&amp;start={start}&amp;end={end}"/>
    <add key="profileUrl" value="https://api.steampowered.com/ISteamUser/GetPlayerSummaries/v2/?steamids={steamids}&amp;key={key}"/>
    <add key="allowedOrigins" value="http://localhost:4200"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.3"/>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </handlers>
  </system.webServer>
</configuration>